@mixin reset-link {
  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin line ($width: 120px, $height: 1px, $color: #fff) {
  display: block;
  width: $width;
  height: $height;
  content: "";
  background-color: $color;
}

@function intro-bg-height($header-height) {
  @return calc(100vh - #{$header-height});
}